<!DOCTYPE html />
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/css1.css">
    <meta charset="UTF-8" />
    <title>课程表</title>
    <embed src="static/music/music1.mp3" hidden="true" autostart="true" loop="true" />
</head>
<body>
<a href="/main1"><img src="static/image/image3.jpg" /></a><br />
<h1 align="center" style="font-size:50px">课程表</h1>
<table style="font-size:20px !important;background:white" border="1" align="center">
    <tr><td>时间</td><td>星期一</td><td>星期二</td><td>星期三</td><td>星期四</td><td>星期五</td></tr>
    <tr><td>第一节</td><td>语文</td><td>数学</td><td>数学</td><td>数学</td><td>语文</td></tr>
    <tr><td>第二节</td><td>数学</td><td>语文</td><td>综合实践</td><td>语文</td><td>数学</td></tr>
    <tr><td>第三节</td><td>美术</td><td>道德与法治</td><td>英语</td><td>体育</td><td>英语</td></tr>
    <tr><td>第四节</td><td>音乐</td><td>科学</td><td>语文</td><td>环境安全</td><td>道德与法治</td></tr>
    <tr></tr><tr></tr><tr></tr><tr></tr>
    <tr><td>第五节</td><td>信息技术</td><td>体育</td><td>音乐</td><td>科学</td><td>作文</td></tr>
    <tr><td>第六节</td><td>体育</td><td>传统文化</td><td>道德与法治</td><td>美术</td><td>作文</td></tr>
    <tr><td>第七节</td><td>班会</td><td>中队风采</td><td>兴趣活动</td><td>兴趣活动</td><td>&nbsp;</td></tr>
</table>
</body>
</html>