<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/css1.css">
    <meta charset="UTF-8">
    <embed src="static/music/music1.mp3" hidden="true" autostart="true" loop="true" />
    <title>注册</title>
</head>
<body>
<a href="/main1"><img src="static/image/image3.jpg" /></a><br />
<h1>注册</h1>
<form action="/form2" method="post">
    <p style="color:red;">{{t_error}}</p>
    <p>账号：</p><input type="text" name="p" required><br /><br />
    <p>密码：</p><input type="password" name="m" required><br /><br />
    <input type="submit" name="o" value="注册">
</form>
</body>
</html>