<!DOCTYPE html />
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>我的主页</title>
        <embed src="static/music/music1.mp3" hidden="true" autostart="true" loop="true" />
        <link rel="stylesheet" href="static/css/css1.css">

    </head>
    <body>
        <a href="/"><img src="static/image/image3.jpg" /></a><br />
        <p>{{t_time}}</p><p>
            <a href="#" class="a4">                                                                                                                                                                                                                                             </a>
            <a class="a1" href="/login">登陆</a>
            <a class="a3" href="/login1">注册</a>
        </p>
        <h1 style="font-size:50px;text-align:center">我的主页</h1>
        <a href="#" class="a4">                                     </a>
        <ul class="t1">
            <li><a class="a6" href="/computer" style="white-space: pre">  首 页  </a></li><li class=li1>            </li>
            <li><a class="a7" href="/computer">计算机学习</a></li><li class=li1>            </li>
            <li><a class="a7" href="/english">英语学习</a></li><li class=li1>            </li>
            <li><a class="a7" href="/chinese">美文欣赏</a></li><li class=li1>            </li>
            <li><a class="a7" href="/software">软件下载</a></li>
        </ul><br /><br />
        <h1 style="text-align: center">欢迎致辞</h1>
        <p>欢迎访问我的博客，本网站仅用于学习、交流之用，请文明用语，为维护网络安全尽一份薄力！</p>
<!--        <a href="/class_schedule_card" class="a5">课程表</a>-->
<!--        <a href="/questionnaire" class="a5">个人信息表</a>-->
        <br />
    </body>
</html>